@import 'reset.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/build.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 2000px;
}

.github-logo {
    fill: white;
    cursor: pointer;
}

.github-logo:hover {
    fill: #bdbfc0;
}

header {
    background-color: #24292e;
    color: white;
    display: flex;
    align-items: center;
    padding: 16px;
}

header nav ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    list-style: none;
}

header nav ul li {
    font-size: 14px;
    font-weight: 600;
    margin-right: 16px;
}

#header-search-bar {
    padding: 0 8px;
    height: 28px;
    width: 300px;
    background-color: #404448;
    border-radius: 3px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
#header-search-bar input {
    width: 100%;
    height: inherit;
    border: none;
    border-style: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    background: inherit;
}
#header-search-bar img {
    display: block;
}

.left-nav {
    margin: 0 16px;
    flex: auto;
}

.nav-icon {
    fill: white;
}

.nav-icon-sm {
    width: 8px;

}

.nav-profile-dropdown-img {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 3px;
}

.right-nav {
    align-items: center;
    vertical-align: middle;
    align-content: center;
    align-self: center;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover > svg {
    fill: #bdbfc0;
}

.nav-link:hover {
    color: #bdbfc0;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown > a {
    display: flex;
    align-items: center;
}

.nav-dropdown > a > svg:last-child {
    margin-left: 4px;
}

/* Dropdown Menu */
.dropdown-menu {
    border-radius: 3px;
    padding: 5px 0;
    background-color: white;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 100;
    border: 1px solid rgba(27,31,35,.15);
    box-shadow: 0 3px 12px rgba(27,31,35,.15);
    display: none;
}

.show {
    display: block;
}

.dropdown-menu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: nowrap;
}
.dropdown-item {
    width: 100%;
    padding: 4px 16px;   
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: #2a2f34;
}
.dropdown-item:hover {
    background-color: #0366d6;
    color: white;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.profile-dropdown-status-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
}

/* User profile */
.user-profile-image-block {
    border: 1px solid #e1e4e8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.user-profile-image-block > p {
    border-top: 1px solid #e1e4e8;
    padding: 16px;
    font-size: 12px;
}

main {
    margin-top: 24px;
    padding: 0 32px;
}

main > aside {
    width: 25%;
    padding: 0 16px;
}

.user-profile-image {
    width: 100%;
    height: auto;
    display: block;
}

.user-details-block {
    padding: 16px 0;
}

.user-follow-button {
    width: 100%;
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    cursor: pointer;
    outline: none;
    border: 1px solid #c8cbce;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 6px 12px;
    font-size: 14px;
} 

.user-follow-button:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
}

.user-pro-badge {
    background: #6f42c1;
    font-size: 12px;
    padding: 2px 4px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}

.user-dev {
    margin-bottom: 8px;
    font-size: 14px;
}

.user-dev-member {
    border-top: 1px solid #c4c9cc;
    padding: 16px 0;
}

.user-dev-text {
    color: #0a87ee;
}

.user-about {
    font-size: 14px;
    line-height: 1.5;
}

.user-work {
    margin-top: 3px;
}

.user-work svg, .user-link svg, .user-email svg, .user-location svg, .user-dev-member svg {
    fill: #6a737d;
}

.user-email, .user-location, .user-link {
    line-height: 1.5;
    margin-top: 3px;
    font-size: 14px;
}
.user-email a, .user-link a{
    font-size: 14px;
    color: #0366d6;
    text-decoration: none;
}

.user-email a:hover, .user-link a:hover {
    text-decoration: underline;
}

.user-block {
    border-bottom: 1px solid #c4c9cc;
    font-size: 12px;
    color: gray;
    padding: 16px 0;
}

.user-org {
    padding: 16px 0;
}

.user-org-img {
    padding: 3px;
}
.user-org-img img {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    line-height: 1;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}